## Recommendation Based On Amazon User Review

In [18]:
import numpy as np
import pandas as pd
from surprise import Reader, Dataset, SVD, evaluate

In [30]:
df  = pd.read_csv("data/ratings_Digital_Music.csv",names=["user","item","rating","timestamp"])

In [31]:
df.head(5)

             user        item  rating   timestamp
0  A2EFCYXHNK06IS  5555991584     5.0   978480000
1  A1WR23ER5HMAA9  5555991584     5.0   953424000
2  A2IR4Q0GPAFJKW  5555991584     4.0  1393545600
3  A2V0KUVAB9HSYO  5555991584     4.0   966124800
4  A1J0GL9HCA7ELW  5555991584     5.0  1007683200

In [32]:
#Remove timestamp
df = df.drop(['timestamp'], axis=1)
df.head()

             user        item  rating
0  A2EFCYXHNK06IS  5555991584     5.0
1  A1WR23ER5HMAA9  5555991584     5.0
2  A2IR4Q0GPAFJKW  5555991584     4.0
3  A2V0KUVAB9HSYO  5555991584     4.0
4  A1J0GL9HCA7ELW  5555991584     5.0

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836006 entries, 0 to 836005
Data columns (total 3 columns):
user      836006 non-null object
item      836006 non-null object
rating    836006 non-null float64
dtypes: float64(1), object(2)
memory usage: 19.1+ MB

In [76]:
reader = Reader()
data = Dataset.load_from_df(df, reader)
data.split(n_folds=3)
svd = SVD()
evaluate(svd, data, measures=['RMSE', 'MAE'])

D:\Working_Space\Anaconda\lib\site-packages\surprise\evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
D:\Working_Space\Anaconda\lib\site-packages\surprise\dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1
RMSE: 0.8899
MAE:  0.6170
------------
Fold 2
RMSE: 0.8892
MAE:  0.6171
------------
Fold 3
RMSE: 0.8895
MAE:  0.6167
------------
------------
Mean RMSE: 0.8895
Mean MAE : 0.6169
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'mae': [0.61704043473445014,
                             0.61711150845889451,
                             0.61666819656987459],
                            'rmse': [0.88988569403659712,
                             0.88920748933159266,
                             0.88953378825595819]})

In [52]:
#What user A1J0GL9HCA7ELW bought before
df_user = df[(df['user'] == "A2EFCYXHNK06IS")]
print(df_user)

                 user        item  rating
0      A2EFCYXHNK06IS  5555991584     5.0
46351  A2EFCYXHNK06IS  B000002HJF     5.0

In [79]:
#I can't find a way to convert data into a suprise object that can be used in fit function
data

In [81]:
svd.fit(data)

AttributeError: 'DatasetAutoFolds' object has no attribute 'global_mean'